# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode
.vs

# Вспомогательные файлы
*.log*
node_modules/

coverage/

# Собранные файлы 
public/bundle.js
public/bundle.js.map
